* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    user-select: none;
}

.App{
	max-width: 410px;
	margin: 0 auto;
}
.BackHome{
	color: hotpink;
	font-size: 20px;
	text-align: center;
}
.IndexPage{
	display: grid;
	place-content: center stretch;
}
.IndexPage .route-link{
	background-color: deepskyblue;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	color: white;
	text-align: center;
}
.ScorePage{
	display: grid;
	place-content:start center;
	text-align: center;
	grid-gap: 10px 0; 
	height: 100vh;
	padding-top:100px;
	border:1px solid gainsboro; 
}
.ScorePage h2{
	font-size: 80px;
	color: skyblue;
}
.ScorePage p{
	font-size: 36px;
	color: dimgray;
}
.box{
	border: 1px solid gainsboro;
	padding: 10px;
	margin: 20px 0;
}
.question{
	font-size: 18px;
	margin-bottom: 10px;
}
.question::after{
	content: ' ?'
}
.option{
	padding: 10px 10px;
	border-radius: 10px;
	background-color: skyblue;
	margin: 10px 0;
	color: white;
	display: grid;
	grid-template-columns: auto 30px;
}

.option.correct{
	background-color: seagreen;
}
.option.error{
	background-color: darkred;
}
.option.correct:after{
	content: '√';
}
.option.error:after{
	content: '×';
}